.section
  &.about-me
    background-image: url('/images/default-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem

    +landscape
      background-image: url('/images/default-bg-ls.jpg')

    .container
      background-color: rgba(0, 0, 0, 0.5)

      +desktop
        width: 760px

      >.title
        font-size: 2rem
        font-family: 'Nothing You Could Do', cursive
        text-align: center
      >.subtitle
        font-size: 1.5rem
        font-family: 'Nothing You Could Do', cursive
        text-align: center
      >.personal
        padding: 0.5rem
      >.photo
        display: none
        background-image: url('/images/sctn-about-me-center.jpg')
        background-repeat: no-repeat
        height: 100%
        background-size: cover
      >.professional
        padding: 0.5rem
