.section
  &.services
    background-image: url('/images/default-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    +landscape
      background-image: url('/images/default-bg-ls.jpg')

    >.container
      font-size: 0.8rem
      background-color: rgba(0, 0, 0, 0.5)
      margin: .8rem

      +desktop
        width: 960px

      >.title
        font-size: 2rem
        font-family: 'Nothing You Could Do', cursive
        text-align: center

      >.service
        display: block
        padding: 0.2rem
        margin-bottom: 0.2rem

        &:last-child
          margin-bottom: 0

        >.title
          display: inline-block
          font-size: 1rem
          font-weight: 900
          font-family: 'Nothing You Could Do', cursive

        >.content
          display: inline-block
          padding-left: .2rem
          text-align: left
