@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

@import 'partial/reset'
@import 'partial/media'
@import 'partial/core'
@import 'partial/component/header'
@import 'partial/section/hero'
@import 'partial/section/about-me'
@import 'partial/section/resume'
@import 'partial/section/services'
@import 'partial/section/contact'

html
  font-family: Play
  font-size: 100%

body
  background: white
  color: lightcyan

a
  color: white
  text-decoration: none

  &:hover
    color: blue
