div.container
  div.title Contacts
  div.subtitle Magic seems happened
  div.contacts
    div.personal Personal
      div.phone +380638867177
      div.email viktor.likin@gmail.com
    div.social Social
      a.linkedin(href="https://www.linkedin.com/in/viktor-shelepen-0a7962103/") LinkedIn
      a.facebook(href="https://www.facebook.com/viktor.likin") Facebook
      a.twitter(href="https://twitter.com/vlikin") Twitter
      a.github(href="https://github.com/vlikin") Github
      a.drupal(href="https://www.drupal.org/u/likin") Drupal
      a.stackoverflow(href="https://stackoverflow.com/users/1501573/viktor-likin") Stackoverflow
//div
//    include ../component/footer
