div.container
  div.row
    div.col.s10.s1-push.m4.push-m4
      div.card.blue-grey.darken-1.hoverable
        div.card-content.white-text.center-align
          span.card-title= section.hero[lng].fullname
          p= section.hero[lng].position
          div.card-action
            a.waves-effect.waves-light.btn-large(onclick='_moveTo(".section.contact")')= section.hero[lng].button
