for position in section.resume[lng]
  div.slide
    div.inner
      div.company-name-position= position.position + ' at ' + position.company
      div.place-period= position.place + ' - ' + position.period
      div.description= position.description