div#header-section.navbar-fixed
  nav
    div.nav-wrapper
      a.brand-logo(href="3")
        i.large.material-icons.logo timelapse
      ul#nav-mobile.right
        li
          a(onclick="_moveTo('.section.hero')")= component.header[lng].menu.home
        li
          a(onclick="_moveTo('.section.about-me')")= component.header[lng].menu.aboutMe
        li
          a(onclick="_moveTo('.section.resume')")= component.header[lng].menu.resume
        li
          a(onclick="_moveTo('.section.services')")= component.header[lng].menu.services
        li
          a(onclick="_moveTo('.section.contact')")= component.header[lng].menu.contact
