extends layout

block body
  include ./component/header
  div#section-container
    div#section-hero.section.hero
      include ./section/hero
    div#section-about-me.section.about-me
      include ./section/about-me
    div#section-blog.section.blog
      include ./section/blog
    div#section-resume.section.resume
      include ./section/resume
    div#section-services.section.services
      include ./section/services
    div#section-portfolio.section.portfolio
      include ./section/portfolio
    div#section-contact.section.contact
      include ./section/contact
  include ./component/footer