#header
  +tabletAnd
    background-color: rgba(0, 23, 39, 0.7)
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 9

  .logo
    position: fixed
    left: 0
    z-index: 9
    font-size: 4rem
    padding: 1rem

    +tabletAnd
      position: relative
      font-size: 2rem
      padding: .5rem


  .mobile-menu-button
    position: fixed
    cursor: pointer
    display: block
    z-index: 9
    right: 0
    font-size: 4rem
    padding: 1rem

    +tabletAnd
      display: none

  .menu
    background-color: rgba(0, 23, 39, 0.7)
    position: absolute
    display: none //flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    top: 0
    right: 0
    z-index: 10

    +tabletAnd
      background: transparent
      flex-direction: row
      width: auto
      height: auto
      display: flex // none


    &.show
      display: flex

    div.link, div.close-button
      display: flex
      font-size: 1.5rem
      padding: 0 0 0.5rem 0
      cursor: pointer

      +tabletAnd
        font-size: 1rem
        padding: .5rem .1rem
        margin: .5rem .1rem

      &:last-child
        padding: 0

      &.close-button
        font-size: 3rem
        +tabletAnd
          display: none
