h1.center-align= section.portfolio[lng].title
div.container
  ul.collection
    for article in section.portfolio[lng].articles
      li.collection-item
        a(href=article.href)= article.title
div.center-align
  a.waves-effect.waves-light.btn-large(href=section.portfolio[lng].call_to_action.href)= section.portfolio[lng].call_to_action.title